<header>
    <div class="nav-search-form-holder visible">
        <a class="back-to-prev">
            <svg viewBox="0 0 24 24" class="outlined arrow-left">
                <title>Back to Previous</title>
                <path d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
            </svg>
        </a>
        <form action="{% url 'shopping:search' %}" class="nav-search-form">
            <input type="search" name="query" id="nav-search-inp" placeholder="Search for items" minlength="2" maxlength="30" autocomplete="off" autocomplete="chrome-off" value="{{ query }}">
            <button type="submit" class="btn nav-search-form-btn" id="nav-search-btn">
                <svg viewBox="0 0 24 24" class="outlined nav-search-form-icon">
                    <title>Search</title>
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
            </button>
            <button type="reset" class="btn nav-search-form-btn" id="nav-reset-btn">
                <svg viewBox="0 0 24 24" class="outlined nav-search-form-icon">
                    <title>Reset</title>
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </button>
        </form>
    </div>
</header>