<div class="menu-nav" id="menu-nav">
    <ul class="nav-items">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='outlined nav-link-icon' id="cat-icon">
                    <title>CATEGORIES</title>
                    <rect x='48' y='48' rx='20' ry='20'/>
                    <rect x='288' y='48' rx='20' ry='20'/>
                    <rect x='48' y='288' rx='20' ry='20'/>
                    <rect x='288' y='288' rx='20' ry='20'/>
                </svg>
                CATEGORIES
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class='outlined nav-link-icon'>
                    <title>NEW ARRIVALS</title>
                    <path d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                </svg>
                NEW ARRIVALS
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class='outlined nav-link-icon'>
                    <title>BEST SELLERS</title>
                    <circle cx="12" cy="8" r="7"></circle>
                    <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline>
                </svg>
                BEST SELLERS
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class='outlined nav-link-icon'>
                    <title>SALE</title>
                    <line x1="19" y1="5" x2="5" y2="19"></line>
                    <circle cx="6.5" cy="6.5" r="2.5"></circle>
                    <circle cx="17.5" cy="17.5" r="2.5"></circle>
                </svg>
                SALE
            </a>
        </li>
        <div class="nav-item-sep-holder">
            <hr class="nav-item-sep">
        </div>
        <p class="nav-item-sect-h">PREFERENCES</p>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" class='outlined nav-link-icon' id="lang-icon">
                    <title>Language</title>
                    <polyline points="232 216 176 104 120 216"></polyline>
                    <line x1="136" y1="184" x2="216" y2="184"></line>
                    <line x1="88" y1="32" x2="88" y2="56"></line>
                    <line x1="24" y1="56" x2="152" y2="56"></line>
                    <path d="M120,56a96,96,0,0,1-96,96"></path>
                    <path d="M61.46882,88.00088a96.03987,96.03987,0,0,0,90.52532,63.9658"></path>
                </svg>
                Language
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" class='outlined nav-link-icon' id="cur-icon">
                    <title>Currency</title>
                    <!--https://heroicons.com/ for different currency icons-->
                    <path d="M9 14C9 14 16.5 2.49997 29.5 6.99998C42.5 11.5 42 24.5 42 24.5"/>
                    <path d="M39 34C39 34 33 45 19.5 41.5C6 38 6 24 6 24"/>
                    <path d="M42 8V24"/>
                    <path d="M6 24L6 40"/>
                    <path d="M18 28H30"/>
                    <path d="M18 22H30"/><path d="M24 22V34"/>
                </svg>
                Currency
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class='outlined nav-link-icon'>
                    <title>Country</title>
                    <path d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9"/>
                </svg>
                Country
            </a>
        </li>
        <li class="nav-item">
            <a href="signin.html" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" class="outlined nav-link-icon" viewBox="0 0 24 24">
                    <title>Sign In | Register</title>
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                </svg>
                Sign In | Register
            </a>
        </li>
        <div class="nav-item-sep-holder" id="nav-item-sep-holder-2">
            <hr class="nav-item-sep">
        </div>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" class="outlined nav-link-icon" viewBox="0 0 256 256"  id="contact-icon">
                    <title>Contact Us</title>
                    <rect></rect>
                    <path d="M225.45581,128h-32a16,16,0,0,0-16,16v40a16,16,0,0,0,16,16h16a16,16,0,0,0,16-16V128A96.0001,96.0001,0,0,0,128.7279,32.0027,96.00009,96.00009,0,0,0,32,128v56a16,16,0,0,0,16,16H64a16,16,0,0,0,16-16V144a16,16,0,0,0-16-16H32"></path>
                    <path d="M225.45581,184v24a32,32,0,0,1-32,32H136"></path>
                </svg>
                Contact Us
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" class="outlined nav-link-icon" viewBox="0 0 24 24">
                    <title>Help Support</title>
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                    <line x1="12" y1="17" x2="12.01" y2="17"></line>
                </svg>
                Help | Support
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" class="outlined nav-link-icon" viewBox="0 0 24 24">
                    <title>About Us</title>
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="12" y1="16" x2="12" y2="12"></line>
                    <line x1="12" y1="8" x2="12.01" y2="8"></line>
                </svg>
                About Us
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" class="outlined nav-link-icon" viewBox="0 0 256 256" id="privacy-icon">
                    <title>Privacy Policy</title>
                    <rect></rect>
                    <path d="M40,106.66667V48a8,8,0,0,1,8-8H208a8,8,0,0,1,8,8v58.66667c0,84.01533-71.306,111.85016-85.5438,116.57058a7.54755,7.54755,0,0,1-4.9124,0C111.306,218.51683,40,190.682,40,106.66667Z"></path>
                    <polyline points="172 96 113.333 152 84 124"></polyline>
                </svg>
                Privacy Policy
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" class="outlined nav-link-icon" viewBox="0 0 24 24" id="blog-icon">
                    <title>Cublya Blog</title>
                    <path d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z" />
                </svg>
                Cublya Blog
            </a>
        </li>
    </ul>
</div>