{% extends 'base.html' %}
{% load sass_tags %}
{% load static %}

{% block title %}Search and Find{% endblock %}
{% block head_imports %}
    <link href="{% sass_src 'scss/pages/categories.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    {% include "parts/nav_a.html" %}

    {% include "parts/searchbar_a.html" %}

    <main class="cats visible" id="cats">
        <h1 class="categories-h">Categories</h1>
        <div class="boxes-container">
            {% for category in categories %}
                <a href="#" class="box">
                    <img src="{{category.image.url}}" alt="{{category.title}}">
                    <p class="cat-txt">{{category.title}}</p>
                </a>
            {% endfor %}
        </div>
    </main>
    
    {% include "parts/search_layer.html" %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/nav_ani.js' %}"></script>
    <script src="{% static 'js/cat_search.js' %}"></script>
{% endblock %}