{% extends 'base.html' %}
{% load sass_tags %}
{% load static %}

{% block title %}My Orders{% endblock %}
{% block head_imports %}
    <link href="{% sass_src 'scss/pages/orders_overview.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    {% include "parts/nav_b.html" %}
    
    <main>
        <div class="order-card">
            <div class="order-head">
                <div class="left-area">
                    <p class="date">22 January 2021</p>
                    <div class="total-price">
                        <p class="total">Total:</p>
                        <p class="currency">$</p>
                        <p class="value">233.12</p>
                    </div>
                </div>
                <div class="right-area">
                    <p>Shipped</p>
                </div>
            </div>
            <ul class="order-imgs sx-cont">
                <li class="order-img">
                    <img src="img/prods/1.jpg" alt="nanan" srcset="">
                </li>
                <li class="order-img">
                    <img src="img/prods/1.jpg" alt="nanan" srcset="">
                </li>
                <li class="order-img">
                    <img src="img/prods/1.jpg" alt="nanan" srcset="">
                </li>
                <li class="order-img">
                    <img src="img/prods/1.jpg" alt="nanan" srcset="">
                </li>
                <li class="order-img">
                    <img src="img/prods/1.jpg" alt="nanan" srcset="">
                </li>
                <li class="order-img">
                    <img src="img/prods/1.jpg" alt="nanan" srcset="">
                </li>
                <li class="order-img">
                    <img src="img/prods/1.jpg" alt="nanan" srcset="">
                </li>
            </ul>
            <div class="order-foot">
                <div class="left-area">
                    <p class="description">2 item(s) have been shipped</p>
                </div>
                <div class="right-area">
                    <a href="order_details.html" class="see-details">
                        <span>See Details</span>
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="outlined">
                            <title>See Details</title>
                            <path d="M9 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="js/open_cart_check.js"></script>
{% endblock %}