@import '../config/config';                      // Colors, Fonts, Mixins
@import '../config/general';                     // General Styling
@import '../components/nav_a';                   // Navbar (A)
@import '../components/product_card';            // Product Card
@import '../components/buttons';                 // Buttons

// Main
main {
    padding: 50px 0 500px !important;
    width: 100%;
}

// Product Area
.prod-area {
    background-color: $b5;
    margin-top: 25px;
    &.prod-first-area {
        padding-top: 10px;
        margin: 0;
    }
}

// Product Image
.prod-image-div {
    width: 100vw;
    height: 65vh;
    background-color: $b5;
    img.prod-image {
        width: 100%;
        height: 100%;
        @include object-position(center);
        @include object-fit(cover);
    }
}
//? Product Section Top
.prod-sect-top {
    @include flex;
    align-items: center;
    border-top: 0.5px solid $c5;
    padding: 15px 20px;
    svg.sect-top-left-icon {
        margin-right: 8px;
        width: 28px;
        height: 28px;
    }
    p {
        @include font-size(18px);
        font-weight: 500;
        color: $c2;
        span.value, span.currency {
            font-weight: 600;
            color: $c1;
        }
        &.rating {
            margin-left: 5px;
            @include font-size(12px);
            color: $c1;
            background-color: $suc6;
            padding: 3px;
            border-radius: 5px;
        }
    }
    a.chevron-r {
        @include flex;
        align-items: center;
        margin-left: auto;
    }
}

// Color & Review Image
.color-image, .rew-image {
    margin: 0 5px 20px;
    // Removing first-left margin & last-right margin
    &:first-child { 
        margin-left: 0 !important; 
    }
    &:last-child { 
        margin-right: 0 !important; 
    }
    img {
        width: 78px;
        height: 114px;
        @include object-position(center);
        @include object-fit(cover);
        @include border-radius(10px);
    }
}

// * Product First Area *
// Product First ROW
.prod-first-row {
    padding: 0 20px;
    @include flex;
    align-items: center;
    p.brand {
        font-weight: 700;
        @include font-size(17px);
    }
    a.add-to-favs {
        margin-left: auto;
        @include flex;
        align-items: center;
        svg.outlined {
            width: 30px;
            height: 30px;
            fill: none;
            @include transition(all $t1 ease-in-out);
        }
        &:hover > svg.outlined {
            color: $c2;
            @include scale(1.1);
        }
    }
}
// Product Second ROW
.prod-second-row {
    padding: 0 20px;
    margin-top: 10px;
    @include flex;
    align-items: center;
    .orders {
        margin-left: auto;
    }
}
a.prod-rew {
    @include flex;
    align-items: center;
    svg.rew-star {
        fill: $star1;
        width: 20px;
        height: 20px;
    }
    span {
        @include font-size(15px);
        font-weight: 600;
        color: $c2;
        &.rew-cnt {
            margin-left: 5px;
        }
    }
}
// Product Third ROW
.prod-third-row {
    margin-top: 10px;
    @include flex;
    @include flex-direction(column);
    justify-content: center;
}

// * Product Second Area *
// Product Shipping ROW
.shipping-row {
    .prod-sect-top {
        padding-bottom: 10px;
    }
    .shipping-desc {
        padding: 0 20px 20px;
        p {
            @include font-size(14px);
            &:last-child {
                color: $c4;
            }
        }
    }
}

// * Product Reviews *
.prod-reviews {
    margin-top: 40px;
}
// Hikmat was here

// * End-Button Area *
.end-button-area > .left-area > .total-area {
    margin-left: 0;
}