{% extends 'base.html' %}
{% load sass_tags %}
{% load static %}
{% block title %}For Your Convenience{% endblock %}
{% block head_imports %}
    <link href="{% sass_src 'scss/pages/home.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    {% include "parts/nav_a.html" %}

    <main class="main visible" id="home">
        <div class="carousel">
            <img src="img/carousel/2.jpg" alt="">
        </div>
        <div class="home-sect-cont">
            <div class="top-sx-cont">
                <h2 class="sect-h">BEST SELLERS</h2>
                <a href="" class="see-more">See More</a>
            </div>
            <ul class="sx-cont">
                <li class="prod-card prod-card-1">
                    <div class="prod-top"> 
                        <a href="#" class="prod-link">
                            <img src="img/prods/2.jpg" class="prod-img" alt="nanan" srcset="">
                        </a>
                        <div class="disc-badge">
                            <span>-75%</span>
                        </div>
                    </div>
                    <div class="prod-foot">
                        <div class="prod-br-rew">
                            <h1 class="prod-br">Koton</h1>
                            <a class="prod-rew">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="filled rew-star">
                                    <title>Reviews</title>
                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                </svg>
                                <span class="star-cnt">
                                    4.6
                                </span>
                                <span href="" class="rew-cnt">
                                    (86)
                                </span>
                            </a>
                        </div>
                        <h2 class="prod-title">Sorem, Sorem, Sorem, lorex</h2>
                        <div class="prod-btm">
                            <div class="prod-prices">
                                <div class="price-now">
                                    <span class="currency">$</span>
                                    <span class="value">25.00</span>
                                </div>
                                <div class="price-before">
                                    <span class="currency">$</span>
                                    <span class="value">100.00</span>
                                </div>
                            </div>
                            <div class="prod-fav">
                                <svg xmlns="http://www.w3.org/2000/svg" class="outlined fav-icon" viewBox="0 0 24 24">
                                    <title>Add to List</title>
                                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                </svg>
                                <!--
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="filled heart">
                                    <title>Add to List</title>
                                    <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                                </svg>
                                -->
                            </div>
                        </div>
                    </div>
                </li>
    
                <li class="prod-card prod-card-2">
                    <div class="prod-top"> 
                        <a href="product_page.html" class="prod-link">
                            <img src="img/prods/1.jpg" class="prod-img" alt="nanan" srcset="">
                        </a>
                        <div class="disc-badge">
                            <span>-30%</span>
                        </div>
                    </div>
                    <div class="prod-foot">
                        <div class="prod-br-rew">
                            <h1 class="prod-br">Koton</h1>
                            <a class="prod-rew">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="filled rew-star">
                                    <title>Reviews</title>
                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                </svg>
                                <span class="star-cnt">
                                    4.6
                                </span>
                                <span href="" class="rew-cnt">
                                    (86)
                                </span>
                            </a>
                        </div>
                        <h2 class="prod-title">Sorem, Sorem, Sorem, lorex</h2>
                        <div class="prod-btm">
                            <div class="prod-prices">
                                <div class="price-now">
                                    <span class="currency">$</span>
                                    <span class="value">70.00</span>
                                </div>
                                <div class="price-before">
                                    <span class="currency">$</span>
                                    <span class="value">100.00</span>
                                </div>
                            </div>
                            <div class="prod-fav">
                                <svg xmlns="http://www.w3.org/2000/svg" class="outlined fav-icon" viewBox="0 0 24 24">
                                    <title>Add to List</title>
                                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                </svg>
                                <!--
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="filled heart">
                                    <title>Add to List</title>
                                    <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                                </svg>
                                -->
                            </div>
                        </div>
                    </div>
                </li>
    
                <li class="prod-card prod-card-2">
                    <div class="prod-top"> 
                        <a href="#" class="prod-link">
                            <img src="img/prods/1.jpg" class="prod-img" alt="nanan" srcset="">
                        </a>
                        <div class="disc-badge">
                            <span>-50%</span>
                        </div>
                    </div>
                    <div class="prod-foot">
                        <div class="prod-br-rew">
                            <h1 class="prod-br">Koton</h1>
                            <a class="prod-rew">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="filled rew-star">
                                    <title>Reviews</title>
                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                </svg>
                                <span class="star-cnt">
                                    4.6
                                </span>
                                <span href="" class="rew-cnt">
                                    (86)
                                </span>
                            </a>
                        </div>
                        <h2 class="prod-title">Sorem, Sorem, Sorem, lorex</h2>
                        <div class="prod-btm">
                            <div class="prod-prices">
                                <div class="price-now">
                                    <span class="currency">$</span>
                                    <span class="value">50.00</span>
                                </div>
                                <div class="price-before">
                                    <span class="currency">$</span>
                                    <span class="value">100.00</span>
                                </div>
                            </div>
                            <div class="prod-fav">
                                <svg xmlns="http://www.w3.org/2000/svg" class="outlined fav-icon" viewBox="0 0 24 24">
                                    <title>Add to List</title>
                                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                </svg>
                                <!--
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="filled heart">
                                    <title>Add to List</title>
                                    <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                                </svg>
                                -->
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="home-sect-cont">
            <div class="top-sx-cont">
                <h2 class="sect-h">TOP SALE</h2>
                <a href="" class="see-more">See More</a>
            </div>
            <ul class="sx-cont">
                <li class="prod-card prod-card-1">
                    <div class="prod-top"> 
                        <a href="#" class="prod-link">
                            <img src="img/prods/2.jpg" class="prod-img" alt="nanan" srcset="">
                        </a>
                        <div class="disc-badge">
                            <span>-75%</span>
                        </div>
                    </div>
                    <div class="prod-foot">
                        <div class="prod-br-rew">
                            <h1 class="prod-br">Koton</h1>
                            <a class="prod-rew">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="filled rew-star">
                                    <title>Reviews</title>
                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                </svg>
                                <span class="star-cnt">
                                    4.6
                                </span>
                                <span href="" class="rew-cnt">
                                    (86)
                                </span>
                            </a>
                        </div>
                        <h2 class="prod-title">Sorem, Sorem, Sorem, lorex</h2>
                        <div class="prod-btm">
                            <div class="prod-prices">
                                <div class="price-now">
                                    <span class="currency">$</span>
                                    <span class="value">25.00</span>
                                </div>
                                <div class="price-before">
                                    <span class="currency">$</span>
                                    <span class="value">100.00</span>
                                </div>
                            </div>
                            <div class="prod-fav">
                                <svg xmlns="http://www.w3.org/2000/svg" class="outlined fav-icon" viewBox="0 0 24 24">
                                    <title>Add to List</title>
                                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                </svg>
                                <!--
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="filled heart">
                                    <title>Add to List</title>
                                    <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                                </svg>
                                -->
                            </div>
                        </div>
                    </div>
                </li>
    
                <li class="prod-card prod-card-2">
                    <div class="prod-top"> 
                        <a href="#" class="prod-link">
                            <img src="img/prods/1.jpg" class="prod-img" alt="nanan" srcset="">
                        </a>
                        <div class="disc-badge">
                            <span>-30%</span>
                        </div>
                    </div>
                    <div class="prod-foot">
                        <div class="prod-br-rew">
                            <h1 class="prod-br">Koton</h1>
                            <a class="prod-rew">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="filled rew-star">
                                    <title>Reviews</title>
                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                </svg>
                                <span class="star-cnt">
                                    4.6
                                </span>
                                <span href="" class="rew-cnt">
                                    (86)
                                </span>
                            </a>
                        </div>
                        <h2 class="prod-title">Sorem, Sorem, Sorem, lorex</h2>
                        <div class="prod-btm">
                            <div class="prod-prices">
                                <div class="price-now">
                                    <span class="currency">$</span>
                                    <span class="value">70.00</span>
                                </div>
                                <div class="price-before">
                                    <span class="currency">$</span>
                                    <span class="value">100.00</span>
                                </div>
                            </div>
                            <div class="prod-fav">
                                <svg xmlns="http://www.w3.org/2000/svg" class="outlined fav-icon" viewBox="0 0 24 24">
                                    <title>Add to List</title>
                                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                </svg>
                                <!--
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="filled heart">
                                    <title>Add to List</title>
                                    <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                                </svg>
                                -->
                            </div>
                        </div>
                    </div>
                </li>
    
                <li class="prod-card prod-card-2">
                    <div class="prod-top"> 
                        <a href="#" class="prod-link">
                            <img src="img/prods/1.jpg" class="prod-img" alt="nanan" srcset="">
                        </a>
                        <div class="disc-badge">
                            <span>-50%</span>
                        </div>
                    </div>
                    <div class="prod-foot">
                        <div class="prod-br-rew">
                            <h1 class="prod-br">Koton</h1>
                            <a class="prod-rew">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="filled rew-star">
                                    <title>Reviews</title>
                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                </svg>
                                <span class="star-cnt">
                                    4.6
                                </span>
                                <span href="" class="rew-cnt">
                                    (86)
                                </span>
                            </a>
                        </div>
                        <h2 class="prod-title">Sorem, Sorem, Sorem, lorex</h2>
                        <div class="prod-btm">
                            <div class="prod-prices">
                                <div class="price-now">
                                    <span class="currency">$</span>
                                    <span class="value">50.00</span>
                                </div>
                                <div class="price-before">
                                    <span class="currency">$</span>
                                    <span class="value">100.00</span>
                                </div>
                            </div>
                            <div class="prod-fav">
                                <svg xmlns="http://www.w3.org/2000/svg" class="outlined fav-icon" viewBox="0 0 24 24">
                                    <title>Add to List</title>
                                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                </svg>
                                <!--
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="filled heart">
                                    <title>Add to List</title>
                                    <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                                </svg>
                                -->
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    {% include "parts/footer.html" %}
{% endblock content %}
{% block scripts %}
    <script src="{% static 'js/nav_ani.js' %}"></script>
{% endblock %}